<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MediHelp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>910436991FF7CA7500697E40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>910436B01FF7CA7500697E40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>910436BB1FF7CA7500697E40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
